matplotlib
numpy
opencv_python
pandas
Pillow
pytorch_lightning
lightning[extra]
tensorboard
scikit_learn
timm
torch>=2.0
torchvision
torchmetrics
autopep8
albumentations
onnx
onnxruntime
ipykernel
ipywidgets